.anjani-image {
  background-size: contain;
  width: 750px;
  background-position: center center;
}

@media only screen and (max-width: 768px) {
  .anjani-image {
    background-size: contain;
    width: 470px;
    background-position: center center;
  }
}

@media only screen and (max-width: 600px) {
  .anjani-image {
    object-fit: cover;
    width: 380px;
  }
}

@media only screen and (max-width: 375px) {
  .anjani-image {
    object-fit: cover;
    width: 320px;
  }
}

@media only screen and (max-width: 325px) {
  .anjani-image {
    object-fit: cover;
    width: 270px;
  }
}
