.logo-riara {
  height: 190px;
  width: 190px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -22px;
  left: 0;
  right: 0;
  top: 0px;
  text-align: center;
}

.bar-nav {
  height: 75px;
}

.margin-logo {
  margin-left: 80px;
  margin-right: 80px;
}

.nav-item {
  cursor: pointer;
}

.navbar-mobile {
  visibility: hidden !important;
}

.nav-mobile {
  position: absolute;
}

@media only screen and (max-width: 768px) {
  .navbar-web {
    visibility: hidden !important;
  }

  .logo-riara {
    height: 130px;
    width: 130px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    left: 0;
    right: 0;
    top: 0px;
    text-align: center;
  }
  .navbar-mobile {
    visibility: visible !important;
  }
}

.footer-wrapper {
  height: 260px;
  background: url("https://riarariara.b-cdn.net/footer%20-%20riara%20.jpg");
  background-size: cover;
  margin-top: 90px;
  object-fit: cover;
  background-position: 50% -180%;
  background-position: center;
}

.footer-wrapper > .footer-overlay {
  height: 260px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.footer-inner {
  z-index: 3;
  color: white;
  position: relative;
  top: 35%;
}

.footer-nav {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .footer-nav {
    cursor: pointer;
    font-size: smaller;
  }
  .footer-wrapper {
    height: 260px;
    background: url("https://riarariara.b-cdn.net/footer%20-%20riara%20.jpg");
    background-size: cover;
    margin-top: 90px;
    object-fit: cover;
    background-position: 50% -180%;
    background-position: center;
  }
}

@media only screen and (max-width: 768px) {
  .footer-nav {
    cursor: pointer;
    font-size: 20;
  }
  .footer-wrapper {
    height: 260px;
    background: url("https://riarariara.b-cdn.net/footer%20-%20riara%20.jpg");
    background-size: cover;
    margin-top: 90px;
    object-fit: cover;
    background-position: 50% -180%;
    background-position: center;
  }
}

@media only screen and (max-width: 600px) {
  .footer-wrapper {
    height: 260px;
    background: url("https://riarariara.b-cdn.net/main-banner.JPG");
    background-size: cover;
    background-position: center;
  }
}
