.container-about {
  background-color: white;
  padding: 0px !important;
}

.core-title {
  margin-top: 80px;
  text-align: center;
}

.title-icon {
  font-size: 25px;
  font-weight: bolder;
}

.desc-value {
  padding-left: 10px;
  padding-right: 10px;
}

.sub-icons {
  margin-top: 10px;
  color: #17a2b8;
}

.icon-wrapper {
  margin-top: 50px;
  padding-bottom: 50px;
}

.icons-value {
  width: 70px;
}

.about-image-1 {
  background-size: cover;
  height: 498px;
  width: 100%;
  object-fit: cover;
}

.about-image-2 {
  background-size: cover;
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin-top: 3px;
  padding-right: 3px;
}
.about-image-3 {
  background-size: cover;
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin-top: 3px;
  padding-right: 0px;
}

.title-value {
  border-right: solid 5px #17a2bf;
}

.subtitle {
  color: #17a2b8;
  font-weight: bold;
}

.about-mobile {
  margin-top: 40px;
}

.about-description {
  text-align: justify;
  padding-right: 20px;
}

@media only screen and (max-width: 1024px) {
  .about-description {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1024px) {
  .desc-value {
    font-size: smaller;
  }
}

@media only screen and (max-width: 600px) {
  .about-title {
    text-align: center;
    font-size: smaller;
  }
  .about-description {
    font-size: 14px;
    padding-right: 0px;
  }
  .about-mobile {
    text-align: center;
    margin-top: 0px;
  }
  .core-title {
    margin-top: 30px;
  }
  .title-icon {
    font-size: 20px;
    font-weight: bolder;
  }
  .title-value {
    border-right: solid 5px #17a2bf;
  }
  .mobile-caption {
    margin-left: 13px;
    margin-right: 13px;
  }
}
