.tools-img {
  width: 50px;
}

.tools-section {
  margin-top: 80px;
  border-left: solid 5px #17a2bf;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .tools-margin {
      margin-top: 30px;
  }

  .tools-img {
    width: 30px;
  }

  .tools-section {
    margin-top: 80px;
    border-left: solid 5px #17a2bf;
    margin-bottom: 0px;
    margin-left: 22%;
  }
}
