.wrapping-jumbotron {
  margin-top: 72px;
  position: relative;
}

.hashtag {
  font-size: 22px;
}

.quote-banter {
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

.subQuote {
  font-size: 30px;
}

.bold {
  font-weight: bold;
  color: #ffab00;
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: white;
}

.jumbotron-body {
  height: 110vh;
  background: url("https://riarariara.b-cdn.net/banner/DSCF9247.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.jumbotron-body > .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

.list-icon {
  font-size: 30px;
  margin-top: 150px;
}

.icons {
  margin-right: 35px;
  margin-left: 35px;
  text-align: center;
  color: #ffab00;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .list-icon {
    font-size: 25px;
    margin-top: 20px;
  }

  .subQuote {
    font-size: 25px;
  }

  .quote-banter {
    font-size: 35px;
    font-weight: 100;
    text-align: center;
  }

  .icons {
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    color: #ffab00;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .quote-banter {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
  }

  .bold {
    font-weight: bold;
    color: #ffab00;
  }

  .center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
    width: 380px;
  }

  .list-icon {
    font-size: 18px;
    margin-top: 20px;
  }

  .icons {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    color: #ffab00;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .quote-banter {
    font-size: 35px;
    font-weight: 100;
    text-align: left;
    margin-right: 15px;
    margin-left: 15px;
  }

  .subQuote {
    font-size: 25px;
  }

  .hashtag {
    font-size: 16px;
  }

  .wrapping-jumbotron {
    margin-top: 55px;
    position: relative;
  }

  .jumbotron-body {
    height: 110vh;
    background: url("https://riarariara.b-cdn.net/banner/mobile-banner.JPG");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }

  .bold {
    font-weight: bold;
    color: #ffab00;
  }

  .center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
    width: 380px;
  }

  .list-icon {
    font-size: 18px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 320px) {
  .quote-banter {
    font-size: 25px;
    font-weight: 100;
    text-align: left;
  }

  .bold {
    font-weight: bold;
    color: #ffab00;
  }

  .center-content {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
    width: 310px;
  }

  .icons {
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    color: #ffab00;
    cursor: pointer;
  }
}
